{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Código de Descuento - Osorio Cars{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Editar Código de Descuento</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
