{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Perfil de Usuario</h2>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="text-center">Modificar datos</h2>
            <div class="row">
                <div class="mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Información del Usuario</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rango</th>
                            <th>Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if request.user.is_superuser %}
                                    <p>Administrador</p>
                                {% else %}
                                    <p>Usuario</p>
                                {% endif %}
                            </td>
                            <td>
                                <p>{{ request.user.profile.role }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row">
                <h4>Compras Hechas</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Servicio</th>
                            <th>Cantidad</th>
                            <th>Descuento</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.created_at }}</td>
                            <td>{{ purchase.service.title }}</td>
                            <td>{{ purchase.cantidad }}</td>
                            <td>{{ purchase.descuento }}</td>
                            <td>{{ purchase.service.price }}</td>
                            <td>{{ purchase.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}